extends ../layout/register-layout.pug
block content
    div
        span
            h1 Good login here.
    .login_container_form
        form(method='post', onsubmit='return validateForm()')
            label(for='textInput') Enter Text:
            input#textInput(type='text', name='text', value=name, placeholder='Type something...')
            button(type='submit') Submit
        a(href="/login") Press here to register to login
    script.
        function validateForm() {
        // Get the input value
        var inputValue = document.getElementById("textInput").value;
        // Trim the input value
        var trimmedValue = inputValue.trim();
        // Check if the trimmed value is empty
        if (trimmedValue === "") {
        alert("Please enter a non-empty value.");
        return false; // Prevent form submission
        }
        // Continue with form submission if the value is not empty
        return true;
        }
